<div class="service">
    <h2 class="text-center"> Services</h2>
  <div class="container">
    <div class="header-container">
      <button *ngIf="!isLoading" class="add-btn" (click)="openModal()">Add Service</button>
    </div>
    <div *ngIf="isLoading" class="text-center">
      <p>Loading...</p>
    </div>
    <div class="table-container">
      <table *ngIf="!isLoading" class="table table-bordered">
        <thead>
          <tr>
            <th>Service Name</th>
            <th>Saturday Volunteer</th>
            <th>Sunday Volunteer</th>
            <th>Ekadashi Volunteer</th>
            <th>Festival Volunteer</th>
            <th>Code</th>
            <th>Default Exit Time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of services">
            <td>{{ service.serviceName }}</td>
            <td>{{ service.saturdayVolunteerRequirement }}</td>
            <td>{{ service.sundayVolunteerRequirement }}</td>
            <td>{{ service.ekadashiVolunteerRequirement }}</td>
            <td>{{ service.festivalVolunteerRequirement }}</td>
            <td>{{ service.code }}</td>
            <td>{{ service.defaultTime | date:'shortTime'}}</td>
            <td>
              <button class="btn-edit" (click)="openModal(service)">Edit</button>
              <button class="btn-delete" (click)="deleteService(service.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!isLoading && services.length === 0" class="text-center">
        <p>No services available.</p>
      </div>
    </div>
  </div>
  <div class="modal" [style.display]="showModal ? 'flex' : 'none'">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <h3 class="modal-title">{{ editMode ? 'Edit Service' : 'Add New Service' }}</h3>
      <form [formGroup]="serviceForm" (ngSubmit)="editMode ? updateService() : addService()">
        <div class="form-block">
          <div class="form-group w-100">
            <label>Service Name <span class="required">*</span>:</label>
            <input type="text" formControlName="serviceName" placeholder="Enter Service Name">
          </div>
          <div class="form-group">
            <label> Saturday Volunteer <span class="required">*</span>: </label>
            <input type="text" formControlName="saturdayVolunteerRequirement" placeholder="Enter Required Volunteer">
          </div>
          <div class="form-group">
            <label> Sunday Volunteer <span class="required">*</span>: </label>
            <input type="text" formControlName="sundayVolunteerRequirement" placeholder="Enter Required Volunteer">
          </div>
          <div class="form-group">
            <label> Ekadashi Volunteer <span class="required">*</span>: </label>
            <input type="text" formControlName="ekadashiVolunteerRequirement" placeholder="Enter Required Volunteer">
          </div>
          <div class="form-group">
            <label> Festival Volunteer <span class="required">*</span>: </label>
            <input type="text" formControlName="festivalVolunteerRequirement" placeholder="Enter Required Volunteer">
          </div>
          <div class="form-group">
            <label>Code <span class="required">*</span>: </label>
            <input type="text" formControlName="code" placeholder="Enter Service Code">
          </div>
          <div class="exit-time form-group">
            <label>Default Exit Time <span class="required">*</span>:</label>
            <input type="time" formControlName="defaultTime" placeholder="Select Default Time">
          </div>
        </div>
        <button type="submit">
          {{ editMode ? 'Update Service' : 'Add Service' }}
        </button>
      </form>
    </div>
  </div>
</div>
