<header>
  <div class="container">
    <div>
      <button class="menu-toggle" (click)="toggleSidebar()">&#9776;</button>
    </div>
    <div class="icons">
      <div class="user-dropdown">
        <a href="#" class="user-icon" (click)="toggleDropdown($event)">👤</a>
        <div class="dropdown-menu" *ngIf="dropdownOpen">
          <a routerLink="/register" routerLinkActive="active">Register</a>
          <a href="#" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>
