<div class="assign-service">
  <div class="assign-container">
    <div class="services">
      <div class="volunteer-container">
        <label>Volunteer <span class="required">*</span>:</label>
        <input type="text"
               placeholder="Search Volunteer..."
               [(ngModel)]="searchQuery"
               (input)="searchVolunteers()"
               (keydown)="handleKeydown($event, 'volunteer')"
               class="input" />
        <ul *ngIf="searchSuggestions.length > 0" class="volunteer-suggestions">
          <li *ngFor="let suggestion of searchSuggestions; let i = index"
              [class.active]="i === selectedVolunteerIndex"
              (click)="selectSuggestion(suggestion)">
            <div class="suggestion-item">
              <span class="label">Name:</span>
              <span class="value">{{ suggestion.name }}</span>
              <span class="label">Code:</span>
              <span class="value">{{ suggestion.code }}</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="service-container">
        <label>Service <span class="required">*</span>:</label>
        <input type="text"
               placeholder="Search by service name..."
               [(ngModel)]="serviceQuery"
               (input)="searchServices()"
               (keydown)="handleKeydown($event, 'service')"
               class="input" />
        <ul *ngIf="serviceSuggestions.length > 0" class="service-suggestions">
          <li *ngFor="let suggestion of serviceSuggestions; let i = index"
              [class.active]="i === selectedServiceIndex"
              (click)="selectService(suggestion)">
            <div class="suggestion-item">
              <span class="label">Name:</span>
              <span class="value">{{ suggestion.serviceName }}</span>
              <span class="label">Code:</span>
              <span class="value">{{ suggestion.code }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="time-container">
      <div class="input-group">
        <label>Time Slot <span class="required">*</span>:</label>
        <input type="time" [(ngModel)]="timeSlot" class="input" />
      </div>
      <div class="input-group">
        <label>Batch No <span class="required">*</span>:</label>
        <input type="text" [(ngModel)]="batchNo" class="input" placeholder="Batch No." maxlength="4" min="1000" max="9999" />
      </div>
      <div class="input-group">
        <label>coupon <span class="required">*</span>:</label>
        <input type="text" class="input" [(ngModel)]="coupon" placeholder="coupon" maxlength="2" min="1" max="99" />
      </div>
      <div class="button-group">
        <button (click)="onAssign()" class="assign-btn">Assign</button>
        <button (click)="onAddCoupons()" class="add-coupon"><p>Add Coupons</p></button>
      </div>
    </div>
  </div>
  <div class="summary-container">
    <div class="date-wrapper">
      <h3>{{ todayDate | date: 'EEEE' }}</h3>
      <h4>{{ todayDate | date: 'dd-MM-yyyy' }}</h4>
      <hr />
      <h1>Volunteers :{{ getTotal('volunteerCount') }}</h1>

      <div class="checkbox-container">
        <label>
          <input type="checkbox" [(ngModel)]="isEkadashi" (change)="onCheckboxChange('ekadashi')" />
          Ekadashi
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="isFestival" (change)="onCheckboxChange('festival')" />
          Festival
        </label>
      </div>
    </div>
    <hr class="hr" />
    <div class="coupens">
      <ul>
        <li><span>Total Coupens</span>:<strong>{{totalCoupons}}</strong></li>
        <li><span>Volunteer Coupons</span>:<strong>{{volunteerCoupons}}</strong></li>
        <li>
          <span>Additional Coupons</span>:
          <strong>
            <button (click)="openCouponDialog()" class="plus-btn">+</button>
            {{additionalCoupons}}
          </strong>
        </li>
        <hr />
        <li>
          <span>Remaining Coupens</span>:
          <strong>{{ remainingCoupons }}</strong>
        </li>
      </ul>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Service Name</th>
          <th>Required Volunteers</th>
          <th>Assigned Volunteers</th>
          <th>Pending Volunteers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of serviceVolunteerCounts">
          <td>{{ service.serviceName }}</td>
          <td>{{ service.requiredVolunteer }}</td>
          <td>{{ service.volunteerCount }}</td>
          <td>{{ service.pendingVolunteer }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>{{ getTotal('requiredVolunteer') }}</strong></td>
          <td><strong>{{ getTotal('volunteerCount') }}</strong></td>
          <td><strong>{{ getTotal('pendingVolunteer') }}</strong></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
