<!-- Preloader (Spinner) -->
<div *ngIf="loading" class="preloader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<body>
  <div class="wrapper">
    <div class="title"><span>Signup Form</span></div>
    <form (ngSubmit)="onSignup()" [formGroup]="signUpForm">
      <div class="row">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Enter your email">
        <div class="text-danger">
          <small *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].errors?.['required']"> Email is required </small>
          <small *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].errors?.['email']"> Invalid email format (e.g., example&#64;domain.com) </small>
        </div>
      </div>

      <div class="row">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" placeholder="Enter your username">
        <div class="text-danger">
          <small *ngIf="signUpForm.controls['username'].touched && signUpForm.controls['username'].errors?.['required']"> Username is required </small>
        </div>
      </div>

      <div class="row">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" formControlName="phoneNumber" class="form-control" placeholder="Enter your phone number" maxlength="10">
        <div class="text-danger">
          <small *ngIf="signUpForm.controls['phoneNumber'].touched && signUpForm.controls['phoneNumber'].errors?.['required']"> Phone number is required </small>
          <small *ngIf="signUpForm.controls['phoneNumber'].touched && signUpForm.controls['phoneNumber'].errors?.['pattern']">
            Please enter a valid 10-digit number
          </small>
        </div>
      </div>
      <div class="row">
        <label for="role">Role</label>
        <input formControlName="role" class="form-control" readonly>
      </div>

      <div class="row">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Enter your password">
        <div class="text-danger">
          <small *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].errors?.['required']">
            Password is required
          </small>
          <small *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].errors?.['pattern']">
            Password must be at least 8 characters and include uppercase (A-Z), lowercase (a-z), number (0-9), and special character (!&#64;#$%^&*). Example: <b>Abc&#64;1234</b>
          </small>
        </div>
      </div>

      <div class="row">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm your password">
        <div class="text-danger">
          <small *ngIf="signUpForm.controls['confirmPassword'].touched && signUpForm.errors?.['passwordMismatch']">Passwords do not match</small>
        </div>
      </div>
      <div class="row button">
        <button type="submit">
          {{ loading ? 'Signing up...' : 'Signup' }}
        </button>
      </div>

      <div class="signup-link">Already have an account? <a routerLink="/login">Login now</a></div>

    </form>
  </div>
</body>
