<body>
  <div class="wrapper">
    <div class="title"><span>Add Role & Assign Permissions</span></div>
    <form (ngSubmit)="onSubmit()" [formGroup]="addRole">
      <!-- Role Name -->
      <div class="row">
        <label for="roleName">Role Name</label>
        <input type="text" formControlName="roleName" class="form-control" placeholder="Enter Role Name">
        <div class="error-text" *ngIf="addRole.controls['roleName'].touched && addRole.controls['roleName'].errors?.['required']">Role name is required!</div>
      </div>

      <!-- Permissions Selection -->
      <div class="row">
        <label>Assign Permissions</label>
        <div *ngIf="!loading; else loadingTemplate" [formGroup]="addRole">
          <div formArrayName="permissions">
            <div *ngFor="let control of permissionsControls.controls; let i = index" class="permission-item">
              <input type="checkbox" [formControlName]="i">
              {{ permissions[i]?.name }}
            </div>
          </div>
        </div>
      </div>

      <ng-template #loadingTemplate>
        <p>Loading permissions...</p>
      </ng-template>

      <!-- Submit Button -->
      <div class="row button">
        <button type="submit">
          {{ loading ? 'Saving...' : 'Save Role' }}
        </button>
      </div>
    </form>
  </div>
</body>
