.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.assign-btn {
  background-color: white;
  color: black;
  border: 1px solid;
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0,0.4);
}

  .assign-btn:hover {
    background-color: #218838;
    color: white;
  }

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
.table-container {
  max-height: 632px;
  overflow-y: auto;
}

.btn-edit:hover {
  background-color: #e0a800;
}
.btn-edit {
  background-color: white;
  color: black;
  border: 1px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.btn-delete:hover {
  background-color: #c82333;
}
.btn-delete {
  background-color: white;
  color: black;
  border: 1px solid;
  font-weight: 600;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
  border-radius: 4px;
}
