<div class="volunteer-service">
  <h2>Volunteer Service </h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Volunteer Name</th>
          <th>Service Name</th>
          <th>Date</th>
          <th>In Time </th>
          <th>Exit Time</th>
          <th>Batch Number</th>
          <th>Duration</th>
          <th>Coupon</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="filteredVolunteerServiceMappings.length === 0">
          <td colspan="8" class="no-data">No data available</td>
        </tr>
        <tr *ngFor="let mapping of filteredVolunteerServiceMappings">
          <td>{{ mapping.volunteerName }}</td>
          <td>{{ mapping.serviceName }}</td>
          <td>{{ mapping.timeSlot | date:'dd-MM-yyyy' }}</td>
          <td>{{ mapping.timeSlot | date: 'shortTime' }}</td>
          <td>{{ mapping.exitTime }}</td>
          <td>{{ mapping.batchNumber }}</td>
          <td>{{ mapping.timeDifference  }}</td>
          <td>{{mapping.coupon}}</td>
          <td>
            <button class="btn-exit" (click)="exitVolunteer(mapping.volunteerId)">Exit</button>
            <button class="btn-edit" (click)="editVolunteerService(mapping.id)">Edit</button>
            <button class="btn-delete" (click)="openDeleteDialog(mapping.volunteerId, mapping.serviceId)">
              ❌ Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
